<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roku Flashback</title>

    <link  href="css/reset.css" rel="stylesheet" type="text/css">
    <link  href="css/main.css"  rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <h1 class="hidden">Roku Video Streaming App</h1>

<main id="app">
    <header>
        <div class="headerCon">
            <div class="logoCon">
                <img id="navLogo" src="images/logo.svg" alt="Roku Logo">
            </div>

            <h2 class="hidden">Main Navigation</h2>
            <nav>

                <ul v-if="authenticated">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">TV Series</a></li>
                    <li><a href="#">Music</a></li>
                </ul>
            </nav>

            <div id="userCon" v-if="authenticated">
                <img src="images/log-in-out.svg" alt="Log Button" id="logButton" @click="logout">
            </div>
        
            
        </div>
    </header>

    <router-view @authenticated="setAuthenticated"/>
    
    
</main>

<footer>
    <h2 class="hidden">Footer</h2>
        <div id="footerCon">

            <div class="logoConFooter">
                <img id="footerLogo" src="images/logo.svg" alt="Roku Logo">
            </div>

            <div id="socialMediaCon">
                <img src="images/icon-facebook.svg" class="socialIcon" alt="Facebook Icon">
                <img src="images/icon-twitter.svg" class="socialIcon" alt="Twitter Icon">
                <img src="images/icon-youtube.svg" class="socialIcon" alt="Youtube Icon">
            </div>

            <h3 id="copyRight">© Copyright 2020 Roku, Inc.</h3>
        </div> 
</footer>

<script type="module" src="js/main.js"></script>


</body>
</html>